body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 80%;
    max-width: 600px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.app-icon img {
    width: 80px;
    height: 80px;
    border-radius: 15px; /* Rounded corners */
}

.app-description h1 {
    margin: 20px 0;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}

.open-app {
    margin-top: 40px;
}
